* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
}

.bottone {
    padding: 1em 1.5em;
    border-radius: 30px;
    text-decoration: none;
}

.bottone-bianco {
    background-color: white;
    color: #255EE9;
}

.bottone-nero {
    background-color: black;
    color: white;
}

header {
    background-color: #255EE9;
}

.menu-top {
    height: 3em;
}

.menu-top ul {
    display: flex;
    height: 100%;
}

.menu-top li {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-top .menu-link {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;

}

.menu-top .logo {
    margin-right: auto;
}

.menu-top .accedi {
    margin-left: auto;
}

.header-background {
    padding: 4rem 0 3rem;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content {
    text-align: center;
    color: white;
    margin-bottom: 3em;
}

.header-content h1 {
    margin-bottom: 1rem;
}

.header-content p {
    margin-bottom: .5rem;
}

.scarica {
    background-color: white;
    color: black;
    padding: .5em .7em;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    margin-right: .3em;
}

.apri {
    background-color: black;
    color: white;
    padding: .5em .7em;
    border-radius: 30px;
    text-decoration: none;
}

.main-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 5em;
    padding-top: 5em;
    
}

.larghezza-immagine-1 {
    width: 100%;
}

.immagine-main-1 {
    width: 33%;
}

.testo-1 {
    width: 33%;
}

.main-background-2 {
    background-color: rgb(207, 204, 204);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 5em;
    padding-top: 5em;
}

.larghezza-immagine-2 {
    width: 100%;
}

.immagine-main-2 {
    margin-right: 33%;

}

.testo-2 {
    margin-left: 33%;
}

.main-background-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 5em;
    padding-top: 5em;
}

.larghezza-immagine-3 {
    width: 100%;
}

.immagine-main-3 {
    width: 33%;

}

.testo-3 {
    width: 33%;
}


.last-main-background {
    background-color: rgb(207, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.larghezza-immagine-footer {
    width: 100%;
    /* margin-left: 5%;
    margin-right: 5%; */
}

h4 {
    padding-top: 4em;
    padding-bottom: 2em;
}

.scarica-viola {
    background-color: #255EE9;
    color: white;
    padding: .5em .7em;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 1em;

}

.footer-background {
    background-color: rgb(40, 49, 57);
    color: white;
    display: flex;
    justify-content: space-between;
    
}

.menu-link-footer {
    height: 100%;
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    
}

.bandiera {
    width: 15px;
}

.testo-bandiera {
    display: inline-block;
}

.rimozione {
    list-style-type: none;
}

.primo-li {
    color: #255EE9;
}

.footer-logo {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 5em;
}